.root {
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; 
    grid-gap: 1rem;
}
.repository-info{
    grid-column: 1/2;
    grid-row: 2/3;
}
.contributors{
    grid-column: 2/3;
    grid-row: 2/3;
}