body {
    background: bisque;
    padding: 0;
    margin: 0;
    max-width: 75%;
    margin: 0 auto;
}
.header {
    background: #ffd4a2;
    grid-column: auto/span 2;
    padding: 1rem;
}
label {
    margin-right: 1em;
}

.repository-info{
    display: inline-block;
    padding: 1rem;
}

.contributors{
    display: inline-block;
    padding: 1rem;
}

ul {
    list-style-type: none;  /*removes bullet*/
    padding: 0;             /*removes indent*/
}