body {
    background: bisque;
    margin: 1em;
}
.header {
    background: #ffd4a2;
    grid-column: auto/span 2;
}
label {
    margin-right: 1em;
}

.repository-info{
    display: inline-block;
}

.contributors{
    display: inline-block;
}

ul {
    list-style-type: none;  /*removes bullet*/
    padding: 0;             /*removes indent*/
}